h1, h2, h3, nav li {
  font-family: 'Kiwi Maru', serif;

}
p {
  font-family: 'Montserrat', sans-serif;
}
.logo{
  width: 50px;
  height: 50px;
}
.container-banner{
  height: 40vh;
  width: 100%;
  background-image: url(images/examplebanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.display-4{
  padding-top: 330px;
  font-size: 2.5rem;
}
img.card-img-top {
  height: 200px;
  width: 100%;
  object-fit: contain;
}
h5.card-title{
  height: 120px;
}
.top-rating {
  position: relative;
}
.slider-arrow {
  background: none;
  opacity: 0.5;
  position: absolute;
  overflow: visible;
}
.my-slider{
   padding-right: 15px;
}
.rightcenter {
  right: 0rem;
  top: 50%;
  bottom: auto;
}
.leftcenter {
  left: 0rem;
  top: 50%;
  bottom: auto;
}
.auto {
  display: none;
}
footer{
  text-align: left;
  background: #1E242E;
  padding: 100px 0 1px;
}
footer .container{
  padding: 30px 3%;
  margin: 0 auto;
  box-sizing: border-box;
}
#footer-span {
  display: block;
  background: url("https://static.mediafire.com/images/backgrounds/newHome/sections/texas.png") center center no-repeat;
  margin: -60px auto 10px;
  text-align: center;
  font-size: 1.125rem;
  padding: 25px 0 40px;
  background-size: 100px;
  color: white;
}
.footer-col h3{
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 30px auto 10px;
  padding-left: 37px;
}
.footer-col ul{
  display: table;
}
.footer-col ul a{
  list-style: none;
  font-size: 0.8125rem;
  padding: 0;
  margin: 0;
}
.footer-col a{
  color: #B7BEC2;
}
.price{
  color: #ed0000;
  font-size: 1.25rem;
  font-weight: 700;
}
.small-banner{
  padding: 0;
  margin-left: 1%;
  margin-right: 1%;
  max-width: 31%;
}
.container-main{
  background-color: #dedede;
}
